{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <a href="{{ path('user') }}">Retour</a>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="titre">Modifier l'utilisateur</h1>
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-primary">Modifier</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

{% endblock %}